body {
  font-family: 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('https://images.pexels.com/photos/31240275/pexels-photo-31240275.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  line-height: 1.6;
  color: #fff;
}

header, main, footer {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
}

header {
  padding: 30px;
  text-align: center;
}

#chef-img {
  max-width: 200px;
  margin-top: 20px;
}

#quote {
  font-size: 1.2rem;
  margin-top: 20px;
  font-style: italic;
  color: #eee;
  text-align: center;
}

main {
  padding: 40px;
}

footer {
  padding: 20px;
  text-align: center;
}
